<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header"> 
            <h4 class="modal-title">Acceso de Administrador</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"
                (click)="closeM()"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formLogin">
                <div class="form-group">
                    <label for="username">UserName:</label>
                    <input type="text" class="form-control" id="username" placeholder="Introduce tu usuario" 
                    formControlName="username">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" class="form-control" id="password" placeholder="Introduce tu contraseña"
                    formControlName="password" >
                </div>
        <button type="button" class="btn btn-primary" (click)="login()">Acceder</button>
    </form>
</div>
</div>
</div>